@model IEnumerable<Repository.Models.tbl_Student>

@{
    ViewBag.Title = "StudentIndex";
}

<h2>StudentList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateofBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Percentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.Password)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Graduation.GraduationName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FatherName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateofBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Percentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbl_Graduation.GraduationName)
            </td>
            <td>
                @Html.ActionLink("Update","Edit","tbl_Studnet", new { id = item.StudentID }) |
                @Html.ActionLink("Details", "DetailsStudent", new { id = item.StudentID }) |
                @Html.ActionLink("Remove", "DeleteStudent", new { id = item.StudentID })
            </td>

        </tr>
    }
    
</table>
<div>
    @Html.ActionLink("Back", "Adminroles", "Home")
</div>